// Define variables for your color scheme

// For example:
$red: #CD1818;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F0A500;
$dark-orange: #FF7800;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ffffff99;
$lighter-gray: #ffffffcc;
$dark-gray: #252525;
$darker-gray: #141414;
$darker-gray-trans: rgba(10, 10, 10,  0);
$dark-gray-trans: rgba(40, 40, 40, 0.4);
