// Specific CSS for your home-page
.grid-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body {
  background-color: #000000;

  h2, h3 {
    color: $light-gray;
  }
}

p {
  color: $lighter-gray;
}
