<div class="wrapper" data-controller='add-modal'>
  <% @movies.each do |category, movies| %>
    <h2 class='header-secondary text-lighter-gray'><%= category.to_s.split('_').join(' ').capitalize %></h2>
    <%= render 'swiper', movies: movies, category: category.to_s %>
  <% end %>

  <%= render 'modal', favorite: @favorite %>

</div>
