<div class="footer">
  <div class='grid-three'>
    <div>
      <%= image_tag asset_path('tmdb_logo.svg') %>
      <p class="tmdb-disclaimer">This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
    </div>

    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> by Aris
    </div>

    <div class="footer-links">
      <a href="https://aristorap.herokuapp.com" target="_blank">Portfolio</i></a>

      <a href="https://github.com/AristoRap"
         target="_blank"
         title='My GitHub'>
         <i class="fab fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/aristoteles-rapai-16a261137/"
         target="_blank"
         title='My GitHub'>
         <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </div>
</div>
