<div class="footer p-3">
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Aris
  </div>
  <div class="footer-links">
    <a href="https://github.com/AristoRap" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/aristoteles-rapai-16a261137/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
