<div class="w-100 banner-lg">
  <div class="background-black-soft d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-1">WatchList</h1>
    <h3>Browse, create and share lists of your favorite movies</h3>
  </div>
</div>
