.button-orange {
  border-radius: 5px;
  color: #F0A500;
  border: 2px solid #F0A500;
  &:hover {
    background-color: #F0A500;
    color: #000000;
  }
}

.button-red {
  font-size: 12px;
  border-radius: 5px;
  color: #DD4A48 !important;
  &:hover {
    background-color: #DD4A48;
    color: white !important;
  }

}
