.button-orange {
  border-radius: 5px;
  color: #F0A500 !important;
  border: 2px solid #F0A500;
  &:hover {
    background-color: #F0A500;
    color: #000000 !important;
  }
}

.button-red {
  font-size: 12px;
  padding: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4) !important;
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #DD4A48 !important;
  }

}
