.button-orange {
  padding: 8px;
  border-radius: 5px;
  color: $orange;
  border: 2px solid $orange;
  &:hover {
    background-color: $orange;
    color: #000000;
    text-decoration: none;
  }
}

.button-red {
  font-size: 12px;
  padding: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: $red;
  }

}
