.grid-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.card-grid-movie {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}
