.card-category {
  width: 100%;
  background-size: cover;
  background-position: center;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(240, 165, 0, 0.4);
  a {
    color: white;
    text-decoration: none;
  }
}
.card-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0;
}
.card-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  p {
    font-size: 12px;
  }
}
