.grid-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.card-grid-movie {
  max-width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.favorite-movie {
  max-width: 140px;
  object-fit: cover;

}

.flex-container {
  display: flex;
  flex-direction: row;
}

.movie-meta {
}

@media (max-width: 40rem) {
  .flex-container {
    flex-direction: column;
  }
}
