.footer {
  padding: 3rem 2rem;
  background: linear-gradient($darker-gray, black);
  text-align: center;
  width: 100%;
  color: rgba(0,0,0,0.3);
  margin-top: auto;


  .footer-copyright {
    color: $light-gray;
    font-size: 1em;
  }

  .fa-heart {
  color: #D23333;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $light-gray;
    opacity: 0.75;
    text-decoration: none;
    font-size: 2em;
    padding: 0px 1rem;
  }
  a:hover {
    opacity: 1;
    color: $orange;
  }
}

.tmdb-disclaimer {
  font-size: 0.6em;
  color: $light-gray;
}
