.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(black, $darker-gray-trans);
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-size: 1.6rem;
  img {
    width: 40px;
  }
}

.nav-item {
  a {
    padding: 1rem;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #F0A500 !important;
  }
}

.navbar-brand {
  color: white;
  &:hover {
    color: white;
  }
}
