#search-results {
  list-style-type: none;
  font-style: italic;
  width: 100%;
  margin: 0;
  line-height: 24px;
}

.favorite-search-box {
  width: 100%;
  @media (min-width: 40rem) {
    width: 350px;
    margin-left: 2.5rem;
  }
  @media (min-width: 62rem) {
    width: 350px;
    margin-left: 2.5rem;
  }
}

.select2-container--default {
  .select2-selection--single {
    background-color: $darker-gray;
  }
  .select2-selection__clear {
    color: $light-gray;
  }
  .select2-selection__placeholder {
    color: $light-gray;
  }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $light-gray;
}
.select2-results__option {
  background-color: $darker-gray;
  color: $light-gray;
  font-size: 0.8rem;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $orange;
  color: black;
}

.select2-search {
  background-color: black;
  border-bottom: 1px solid $light-gray;
  &__field:focus-visible {
    outline: none;
  }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  color: $lighter-gray;
  background-color: black;
  border: none;

}
.fav-search {
  border: solid 2px $light-gray;
  background: transparent;
  color: $lighter-gray;
  &:focus {
    border: solid 2px $lighter-gray;
    background: transparent;
    color: $lighter-gray;
  }
  &::placeholder {
    color: $light-gray;
  }
}

.select2 {
  background: transparent;
}

.search {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: none;
  background-color: transparent;
  i {
    font-size: 1.2rem;
  }
  i:hover {
    background-color: $dark-gray;
    color: $orange;
  }
}

.search-nav {
  padding: 0.3rem 1rem;
  border: none;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

.search-box {
  position: relative;
  width: 250px;

  &-input {
    outline: none;
    background: rgba(0,0,0,0.85);
    border: solid 2px rgba(255,255,255,0.85);
    box-sizing: border-box;
    padding: 7px 14px 7px 40px;
    width: 0%;
    font-size: 13px;
    color: #fff;
    opacity: 0;
    transition: ease width 1s, ease opacity 1s;
    float: right
  }

    &-icon{
      position: absolute;
      padding-left: 0.5rem;
      top: 9px;
      color: white;
      z-index: 10;
      cursor: pointer;
      right: 7px;
      transition: ease transform 1s;
      transition-delay: 50ms
    }

    &.active {
      .search-box-icon {
        transform: translateX(-214px);
      }

      .search-box-input {
        opacity: 1;
        width: 100%
      }
    }
  }
