#search-results {
  list-style-type: none;
  font-style: italic;
  width: 100%;
  margin: 0;
  line-height: 24px;
}
.fav-search {
  border: solid 2px $light-gray;
  background: transparent;
  color: $lighter-gray;
  &:focus {
    border: solid 2px $lighter-gray;
    background: transparent;
    color: $lighter-gray;
  }
  &::placeholder {
    color: $light-gray;
  }
}

.search {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: none;
  background-color: transparent;
  i {
    font-size: 1.2rem;
  }
  i:hover {
    background-color: $dark-gray;
    color: $orange;
  }
}

.search-nav {
  padding: 0.3rem 1rem;
  border: none;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

.search-box {
  position: relative;
  width: 250px;

  &-input {
    outline: none;
    background: rgba(0,0,0,0.85);
    border: solid 2px rgba(255,255,255,0.85);
    box-sizing: border-box;
    padding: 7px 14px 7px 40px;
    width: 0%;
    font-size: 13px;
    color: #fff;
    opacity: 0;
    transition: ease width 1s, ease opacity 1s;
    float: right
  }

    &-icon{
      position: absolute;
      padding-left: 0.5rem;
      top: 9px;
      color: white;
      z-index: 10;
      cursor: pointer;
      right: 7px;
      transition: ease transform 1s;
      transition-delay: 50ms
    }

    &.active {
      .search-box-icon {
        transform: translateX(-214px);
      }

      .search-box-input {
        opacity: 1;
        width: 100%
      }
    }
  }
