.wrapper {
  padding: 0 4rem;
}

.text-light-gray {
  color: $light-gray;
}

.text-lighter-gray {
  color: $lighter-gray;
}

.text-orange {
  color: #F0A500;
}

.header-secondary {
  margin: 0;
  font-size: 1.5rem;
}

.round-one {
  border-radius: 1rem;
}

.bg-pale {
  background-color: $dark-gray-trans;
}

.font-sm {
  font-size: 0.8rem;
  margin: 0;
}

.font-md {
  font-size: 1.2rem;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
