.wrapper {
  padding: 0 2rem;
}

.text-light-gray {
  color: $light-gray;
}

.text-lighter-gray {
  color: $lighter-gray;
}

.text-orange {
  color: #F0A500;
}

.header-secondary {
  margin: 0;
  font-size: 1.5rem;
}
