.wrapper {
  padding: 0 2rem;
}

.text-light-gray {
  color: $light-gray;
}

.text-lighter-gray {
  color: $lighter-gray;
}

.text-orange {
  color: #F0A500;
}

.header-secondary {
  margin: 0;
  font-size: 1.5rem;
}

.round-one {
  border-radius: 1rem;
}

.search {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: none;
  background-color: black;
  i {
    font-size: 1.2rem;
  }
  i:hover {
    background-color: $dark-gray;
    color: $orange;
  }
}

.search-nav {
  padding: 0.3rem 1rem;
  border: none;
}
